/* Box Model Hack */

*{
  box-sizing: border-box;
}

/* root */

:root{
  --main1: #007ECB; /* header & footer top border line */
  --footerbg: #2D2D2D;
  --font1: 'Roboto', sans-serif;

  --nav-font-size: 1.2rem; /* nav links */
  --header-height: 4rem; /* header height */
}

/* fonts */

.font1{
  font-family: 'Roboto', sans-serif;
}

/* general layout */

.flex{
  display:flex;
}

a{
  text-decoration:none;
}

 a:link{
  color:#ffffff;
}

a:visited{
  color:#ffffff;
}

.sr-only{
  display:none;
  visibility:hidden;
}

/* buttons */

.btn-group{
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
}

.btn{
  font-size:1.5rem;
  font-family:var(--font1);
  padding: .75rem 2.5rem;
  margin:0;
  color:#000000;
  text-decoration: none;
  display:inline-block;
  margin: .5rem 0;
  border-radius: 2rem;
}

.btn-primary{
  background:#ffffff;
}

.donate{
  padding: .75rem 1rem;
  font-size:var(--nav-font-size);
}

.donate > span{
  color:#000000;
}

.main-btns{
  background-color:var(--main1);
}

/* header */

.primary-header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  position:fixed;
  background-color:var(--main1);
  min-width:100%;
  height:var(--header-height);
  z-index:100;
}

.primary-header *{
  align-items:center;
}

.mobile-nav-toggle{
  display:none;
}

#org-title{
  font-size: 30px;
  color:#000000;
  width:160px;
  font-family: var(--font1);
}

#header-icon{
  width:calc(10rem + 5vw);
} 

#primary-nav{
  gap:1.2rem; 
  font-size:var(--nav-font-size);
}
#primary-nav a{
  margin-inline-end: .75em;
}

/* index main */

#index{
  padding-top:var(--header-height);
  background:url("/img/li.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-blend-mode:multiply;
  background-color:#777;
  text-align:center;
  min-height:75vh;
}

#index h1{
  padding:3rem 0;
  font:4rem var(--font1);
  color:#ffffff;
}

#index p{
  font-size:1.2rem;
  width:25rem;
  margin: 0 auto;
  color:#ffffff;
}

#main-links{
  display:flex;
  justify-content:center;
  gap:1.5rem;
  padding:2rem;
}

.index-wrapper{
  display:flex;
  flex-direction:column;
  gap:2rem;
}

/* footer */

footer{
  border-top: 5px solid var(--main1);
  font-family: var(--font1);
  font-size:1.5rem;
} 

.footer-col{
  color:#ffffff;
}

.footer-container{
  display:flex;
  gap: 2rem;
  justify-content: center; 
  background: var(--footerbg);
  padding: 2rem 0;
}

.footer-col > h4{
  display:inline-block;
  border-bottom:1px solid black;
  padding-bottom:.2rem;
}

.footer-col > ul{
  padding-top: 1rem;
}

/* media queries */

@media (max-width: 33rem){
  #org-title{
    display:none;
  }
}

@media (max-width: 45rem){
  .footer-container{
    flex-direction:column;
    align-items: flex-start;
    padding-left:2rem;
  }
  
  #index{
    background-size:contain;
    background-position:top;
    padding-top:calc(10rem + 30vw);
  }
}

@media (max-width: 58rem){ 
  /* enable hamburger button,
     hide nav ul  */

  #primary-nav{
    background-color: #ffffff;
  }

  .donate{
    background-color:var(--main1);
  }

  .donate > span{
    color:#ffffff;
  }

  .primary-nav{
    position:fixed;
    z-index:1000;
    inset: 4rem 0 0 0;

    flex-direction:column;
    padding:2rem;
    /* padding:min(30vh,10rem) 2em; */

    background:#FFFFFF;

    transform:translateX(100%);
    transition: transform 300ms ease-out;
  }
  
  .primary-nav[data-visible="true"]{
    transform:translateX(0%);
  }

  .mobile-nav-toggle{
    display:block;
    position:absolute;
    z-index:9999;
    background-color: transparent;
    background-image:url("../img/menu.svg");
    background-repeat:no-repeat;
    width:3rem;
    aspect-ratio:1;
    border:0;
    top:.5rem;
    right:1rem;
  }

  .mobile-nav-toggle[aria-expanded="true"]{
    background-image:url("../img/close.svg");
  }

  #main-links{
    flex-direction:column;
  }
}